footer {
    background: #1C1C1C;
}

.footer-row {
    display: flex;
    background-color:#1C1C1C;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}


    .footer-text {
        width: 40%;

        p {
            font-size: 18px;
            color: #FFFFFF;
            opacity: 50%;
            text-align: end;
        }
    }
    
    .footer-icons {
        display: contents;

        img {
            transition: 0.3s ease-in-out;

            &:hover {
                cursor: pointer;
                transform: translateY(-3px);
            }
        }
    }  

